<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylehome.css') }}" />
    <title>Home Page</title>
</head>
<body>
    <h1>Quantified Self</h1>
    <p>
        <h3>Existing user? Log in now! <br> <a href="/login">Login</a></h3>
    <br><br>
    <h3>New user? Sign up now! <br> <a href="/signup">Sign up</a></h3>
    </p>
</body>
</html>
