<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <title>Update Tracker</title>
</head>
<body>
    <h3>Welcome {{user.fullname}}!</h3>
    <h1>Quantified Self</h1>
    <h3>Update tracker</h3>
    <div class="form">

    <form action="/login/{{user.userid}}/trackers/update/{{tracker.tid}}" method="POST">
       <p> Name: </p>
        <br>
        <input type="text" name="name" id="name" value="{{tracker.name}}">
        <br>
      <p> Description:</p> 
        <br>
        <input type="text" name="content" id="content" value="{{tracker.content}}">
        <br>
        <br>
        <p>Tracker type:</p>
        <input type="text" name="type" id="type" value="{{tracker.type}}">
        <div class="button">
        <input type="submit" value="Update">
        </div>
    </form>
</div>
</body>
</html>